* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
    background-image: url(../images/bg-pattern-bottom.svg), url(../images/bg-pattern-top.svg);
    background-position: 26rem 20rem, -42rem -50rem;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    font-family: 'Kumbh Sans', sans-serif;
}

img {
    border-radius: 100%;
    margin: 0 auto;
    transform: translateY(calc(60%));
    border: 5px solid #fff;
}

.color-dark {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
}

.color-gray-dark {
    color: hsl(227, 10%, 46%);
    font-size: 18px;
}

.color-light {
    color: hsl(0, 0%, 59%);
    font-size: 9px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 5px;
}

.container {
    transform: translateY(50%);
}

.card {
    width: 20rem;
    height: 21rem;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
}

.card-top {
    background-image: url(../images/bg-pattern-card.svg);
    border-radius: 15px 15px 0 0;
    height: 8rem;
}

.card-info {
    margin-top: 60px;
}

.name-age {
    display: flex;
    justify-content: center;
    align-content: center;
}

.name {
    margin-right: 10px;
}

.place {
    font-size: 13px;
    margin-top: 10px;
}

hr {
    color: hsl(0, 0%, 59%);
    opacity: 0.2;
    margin-top: 25px;
}

.card-numbers {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}